@media (max-width: 1300px) {
  .nav-items {
    width: 50%;
  }

  .box {
    padding: 60px;
  }
}
@media (max-width: 1200px) {
  .service {
    width: 80%;
  }
  .box {
    padding: 50px;
  }
  box h1 {
    font-size: 20px;
  }
}
@media (max-width: 970px) {
  .nav-items {
    width: 60%;
  }
  .service {
    width: 95%;
  }

  .box {
    padding: 40px;
  }
  .column-1 {
    flex-basis: 100%;
  }
  .column-2 {
    flex-basis: 80%;

    margin: 20px auto;
  }

  .service-div {
    flex-direction: column;
  }
  .box {
    padding: 15% 25%;
    margin-bottom: 25px;
  }

  .freelance {
    margin-top: 0px;
  }
}

@media (max-width: 800px) {
  .nav-items {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
@media (max-width: 700px) {
  .freelance {
    display: none;
  }
}
@media (max-width: 530px) {
  .header-text {
    margin-top: 25%;
    padding: 0px 20px;
  }
  .header-text p {
    font-style: 13px;
  }
  .header-text h1 {
    font-size: 33px;
    margin-bottom: 15px;
  }
  .btn {
    padding: 18px 16px;
    font-size: 17px;
    border-radius: 10px;
  }
}
