* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100dvh;
  background-image: url(/images/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
}
/*----------- Nav Bar------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  margin-top: 5px;
  position: relative;
}
.logo {
  font-size: 35px;
}
.logo span,
.home {
  color: #d80145;
}

.nav-items {
  display: flex;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.nav-items li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
  transition: 0.5s;
  letter-spacing: 1px;
  font-weight: 700;
}
.nav-items li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #d80145;

  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.6s;
}

.nav-items li a:hover::after {
  width: 100%;
}
.nav-items li a:hover {
}
/* --- hero-------- */

.header-text {
  margin-top: 15%;
  padding: 0px 30px;
}

.header-text p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 7px;
}
.header-text h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

.btn {
  padding: 12px 15px;
  border-radius: 5px;
  border: none;
  background-color: #d80145;
  color: #fff;
  letter-spacing: 1px;
}
.hero-bottom {
  position: absolute;
  right: 25px;
  bottom: 20px;
}

.hero-bottom q {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-bottom h1 {
  text-align: right;
  margin-top: 5px;
}
